<!-- Home -->
<div class="container-fluid mb-5 py-5" id="home" style="min-height:100vh;">
  <div class="container principal">
    <div class="row align-items-center pt-5">
      <div class="col-md-7 text-center text-lg-left">
        <h1 class="text-white text-name font-weight-normal mb-5"> <b> OCTAVIO BOLL</b> </h1>

        <div class="text text-dark">
          <p> <b>
              Soy un estudiante de tercer año de ingeniería en sistemas, me gustaria pertenecer a una empresa que me
              permita
              ampliar y desarrollar mis conocimientos para lograr ser más eficaz y mejorar tanto en el ámbito personal
              como en el laboral.
              <br><br>Motivado, responsable y organizado, dando lo mejor de mi en cada proyecto, fomentando los valores
              de el compañerismo y trabajo en equipo.


            </b> </p>
        </div>

        <div class="d-flex  justify-content-center justify-conter-lg-start pt-5">
          <a href="assets/img/Octavio_Boll_CV.pdf" download=""><button class="btn btn-dark mr-4 btnCV">Download
              CV</button></a>
        </div>

      </div>

      <div class="col-md-5 about-img w-35   justify-content-end d-flex">
        <img src="assets/img/fotoCvBN.jpg" alt="" class="img-fluid w-50 shadow-sm"
          style="border-radius: 30px;">
      </div>
    </div>
  </div>
</div>

<!-- Habilidades -->
<div class="container-fluid py-5" id="habilidades" style="min-height:100vh;">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center p-5">

      <h2 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">
        Habilidades
      </h2>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 ">


          <div class="container item-skill">
            <h4>HTML</h4>
            <img src="assets/img/habilidades/pngwing.com(32).png" class="img-fluid w-100" alt="">
          </div>


          <div class="container item-skill">
            <h4>Angular</h4>
            <img src="assets/img/habilidades/pngwing.com(34).png" class="img-fluid w-100" alt="">
          </div>

          <div class="container item-skill">
            <h4>Java</h4>
            <img src="assets/img/habilidades/pngwing.com(40).png" class="img-fluid w-100" alt="">
          </div>

        </div>
        <div class="col-md-3  col-sm-12">

          <div class="container item-skill">
            <h4>CSS</h4>
            <img src="assets/img/habilidades/pngwing.com(30).png" class="img-fluid w-100" alt="">
          </div>

          <div class="container item-skill">
            <h4>SQL Server</h4>
            <img src="assets/img/habilidades/pngwing.com(35).png" class="img-fluid w-100" alt="">
          </div>

          <div class="container item-skill">
            <h4>Firebase</h4>
            <img src="assets/img/habilidades/pngwing.com(41).png" class="img-fluid w-100" alt="">
          </div>


        </div>



        <div class="col-md-3 col-sm-12">

          <div class="container item-skill">
            <h4>JavaScript</h4>
            <img src="assets/img/habilidades/pngwing.com(31).png" class="img-fluid w-100" alt="">
          </div>

          <div class="container item-skill">
            <h4>C#</h4>
            <img src="assets/img/habilidades/pngwing.com(38).png" class="img-fluid w-100" alt="">
          </div>

          <div class="container item-skill">
            <h4>Git</h4>
            <img src="assets/img/habilidades/pngwing.com(44).png" class="img-fluid w-100" alt="">
          </div>

        </div>



        <div class="col-md-3 col-sm-12">

          <div class="container item-skill">
            <h4>Bootstrap</h4>
            <img src="assets/img/habilidades/pngwing.com(33).png" class="img-fluid w-100" alt="">
          </div>


          <div class="container item-skill">
            <h4>python</h4>
            <img src="assets/img/habilidades/pngwing.com(39).png" class="img-fluid w-100" alt="">
          </div>



        </div>



      </div>
    </div>

  </div>
</div>

<!-- Proyectos -->
<div class="container-fluid py-5" id="proyectos" style="min-height:100vh;">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center p-5">

      <h2 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">
        Proyectos
      </h2>
    </div>

    <div class="container">
      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div class="container p-0 m-0 ">
            <div class="card text-center text-dark p-0 m-0">
              <div class="card-body">
                <div class="card-header">
                  <h3 class="text-primary"><b>ParqueGMP</b></h3>
                </div>

                <p class="mt-3 text ">Proyecto en Angular usando HTML, CSS, Jquery y Bootstrap probando
                  animaciones, datos mockeados y uso de Github pages.</p>


                <img class="img-fluid rounded img-proyect"
                  src="assets/img/pantallas/parqueGMP/parqueInicio.png" alt="">




                <a href="https://octavioboll.github.io/PaginaGMP/inicio" target="_blank"
                  class="btn btn-sm btn-outline-primary d-grid gap-2 m-1" style="text-decoration: underline;">
                  <b>Ver Proyecto</b>
                </a>
                <a href="https://octavioboll.github.io/PaginaGMP/inicio" target="_blank"
                  class="btn btn-sm  btn-outline-danger  d-grid gap-2 m-1" style="text-decoration: underline;">
                  <b>Ver Github </b>
                </a>









              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div class="container p-0 m-0">
            <div class="card text-center text-dark p-0 m-0">
              <div class="card-body">
                <div class="card-header">
                  <h3 class="text-primary"><b>Study</b></h3>
                </div>

                <p class="mt-3 text">Proyecto de Angular para administrar coleccion de items usando Firebase como base
                  de datos, autenticacion y hosting.</p>


                <img class="img-fluid rounded img-proyect pt-2"
                  src="assets/img/pantallas/study/studyMateria.png" alt="">





                <a href="https://angularstudy-a2077.web.app/inicio" target="_blank"
                  class="btn btn-sm  btn-outline-primary  d-grid gap-2 m-1" style="text-decoration: underline;">
                  <b>Ver Proyecto</b>
                </a>
                <a href="https://github.com/OctavioBoll/Study/tree/main" target="_blank"
                  class="btn btn-sm  btn-outline-danger  d-grid gap-2 m-1" style="text-decoration: underline;">
                  <b>Ver Github </b>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div class="container-fluid p-0 m-0">
            <div class="card text-center text-dark">
              <div class="card-body">
                <div class="card-header">
                  <h3 class="text-primary"><b>Veterinaria</b></h3>
                </div>


                <p class="mt-3 text">Proyecto en Winforms en C# de Alta-Baja-Modificacion de objetos almacenados en
                  una base de datos SQL Server usando Stored Procedures</p>


                <img class="img-fluid rounded img-proyect"
                  src="assets/img/pantallas/veterinario/veterinariaPrincipal.png" alt=""
                  (click)="open(contentStudy)">


                <a class="btn btn-sm btn-outline-primary d-grid gap-2 m-1 " style="text-decoration: underline;"
                  (click)="open(contentStudy)">
                  <b>Ver Imagenes </b>
                </a>

                <a href="https://github.com/OctavioBoll/Veterinaria" target="_blank"
                  class="btn btn-sm btn-outline-danger d-grid gap-2 m-1 " style="text-decoration: underline;">
                  <b>Ver Github </b>
                </a>


              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  portfolio-item">
          <div class="container-fluid p-0 m-0 ">
            <div class="card text-center text-dark">
              <div class="card-header">
                <h3 class="text-primary"><b>Museo</b></h3>
              </div>
              <div class="card-body">

                <p class="mt-3 text">Proyecto de Angular de Ventas de entradas con tarifas predeterminadas consumiendo
                  una Api en .Net Core con C# y una base de datos SQL Server
                </p>

                <img class="img-fluid rounded img-proyect" src="assets/img/pantallas/Museo/MuseoTarifas.png"
                  alt="">



                <a class="btn btn-sm btn-outline-primary d-grid gap-2 m-1 " style="text-decoration: underline;"
                  (click)="open(contentMuseo)">
                  <b>Ver Imagenes </b>
                </a>

                <a href="https://github.com/OctavioBoll/TPIMuseo" target="_blank"
                  class="btn btn-sm btn-outline-danger  d-grid gap-2 m-1" style="text-decoration: underline;">
                  <b>Ver Github </b>
                </a>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Contacto -->
<div class="container-fluid py-5" id="contacto" style="min-height:100vh;">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center p-5">

      <h2 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">
        Contacto
      </h2>
    </div>
    <div class="conatiner-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">

          <div class="contact-item mb-3 d-flex fs-4">
            <div class="icon">
              <i class="fas fa-envelope text-white m-2"></i>
            </div>
            <div class="text">
              <h3 class="text-white"> <b>Email</b> </h3>
              <p>okiboll@gmail.com</p>
            </div>
          </div>

          <div class="contact-item mb-3 d-flex fs-4">
            <div class="icon">
              <i class="fab fa-linkedin text-white m-2"></i>
            </div>
            <div class="text">
              <h3 class="text-white"><b>LinkedIn</b> </h3>
              <a href="https://www.linkedin.com/in/octavio-boll/" target="_blank">Ver LinkedIn</a>
            </div>
          </div>

          <div class="contact-item mb-3 d-flex fs-4">
            <div class="icon">
              <i class="fas fa-phone-square text-white m-2"></i>
            </div>
            <div class="text">
              <h3 class="text-white"><b>Telefono</b></h3>
              <p>351 3869092</p>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-sm-12">
          <div class="contact-item mb-3 d-flex fs-4">
            <div class="icon">
              <i class="fab fa-github-square text-white m-2"> </i>
            </div>
            <div class="text">
              <h3 class="text-white"> <b>Github </b> </h3>
              <a href="https://github.com/OctavioBoll" target="_blank"> Ver Github</a>
            </div>
          </div>

          <div class="contact-item mb-3 d-flex fs-4">
            <div class="icon">
              <i class="fab fa-telegram text-white m-2"> </i>
            </div>
            <div class="text">
              <h3 class="text-white"><b>Telegram </b> </h3>
              <p>@Okiboll</p>
            </div>
          </div>
        </div>




      </div>
    </div>


  </div>
</div>



<!-- Templates -->
<ng-template #contentStudy let-modal>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-img active">
        <img src="assets/img/pantallas/veterinario/veterinariaLogin.png" class="d-block w-100 img img-fluid"
          alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/veterinario/veterinariaPrincipal.png"
          class="d-block w-100 img img-fluid" alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/veterinario/veterinariaAgregarClientes.png"
          class="d-block w-100 img img-fluid" alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/veterinario/veterinariaAgregarEmpleado.png"
          class="d-block w-100 img img-fluid" alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/veterinario/veterinariaAgregarTurno.png"
          class="d-block w-100 img img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ng-template>

<ng-template #contentMuseo let-modal>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-img active">
        <img src="assets/img/pantallas/Museo/MuseoTarifas.png" class="d-block w-100 img img-fluid" alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/Museo/MuseoDetalleTarifa.png" class="d-block w-100 img img-fluid"
          alt="...">
      </div>
      <div class="carousel-item carousel-img">
        <img src="assets/img/pantallas/Museo/pantalla4.png" class="d-block w-100 img img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ng-template>